<!DOCTYPE html>
<html lang="en">
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">BetterParts</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/products" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      Products
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/hardware">Hardware</a></li>
                      <li><a class="dropdown-item" href="/software">Software</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/peripherals">Peripherals</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled"></a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <!-- <h1>BetterParts Computer Services</h1>
        <p>Welcome to BetterParts!  Please take a look around our site and click anything
            that looks interesting to you.  We hope you enjoy your stay!
        </p>
        <a href="https://downloadmoreram.com/">
            <button>Download More Ram</button>
        </a>
        <a href="https://sharepointlist.com/">
            <button>ServiceNever IT Support</button>
        </a>
        <a href="http://localhost/opsys">
            <button>Purchase a new Operating System</button>
        </a>
        <h2>
            Coming Soon
        </h2>
        <p>
            <img src="https://images.macrumors.com/t/-j2fGL3LoM8zMj4USzeof_ZrrEI=/1600x0/article-new/2021/06/macintosh-128k-ad-modern.png" alt="Mac" width="2000" height="500">
        </p> -->
    </body>